<!DOCTYPE html>
<html>
<head>
	<title>Tablon hecho con Flask</title>
	<link rel="stylesheet" href="/static/screen.css">
</head>
<body>
	{% for entrada in entradas %}
	<li><p class="post">{{ entrada[1] }}</p>
		<a class="post" href="/post/{{ entrada[0] }}">Enlace</a>
		{% if id == entrada[2] %}
		<a class="post" href='/delete/{{ entrada[0] }}'>Borrar</a>
		{% endif %}
	</li>
	{% endfor %}
	
	<form action='/new' method='post'>
		<input type="text" name="text"></input>
  		<input type="submit" value="new"></input>
	</form>
</body>
</html>
